
/* root */
:root {
    /* font_size */
    --fs-3xl: 58px;
    --fs-2xl: 40px;
    --fs-xl: 24px;
    --fs-lg: 20px;
    --fs-md: 16px;
    --fs-sm: 14px;
    --fs-ss: 12px;



    /* color */
    --color-white: #FFFFFF;
    --color-lightwhite: #ECECEC;
    --color-orange: #FC724D;
    --color-darkorange: #E74040;
    --color-blue: #0061FF;
    --color-lightblue: #252B42;
    --color-voilet: #26335D;
    --color-skyblue: #B6D7FF;
    --color-grey: #737373;
    --color-lightgrey: #BDBDBD;
}

/* color */

.white {
    color: var(--color-white) !important;
}

.lightwhite {
    color: var(--color-lightwhite);
}

.orange {
    color: var(--color-orange);
}

.darkorange {
    color: var(--color-darkorange);
}

.blue {
    color: var(--color-blue);
}

.lightblue {
    color: var(--color-lightblue);
}

.skyblue {
    color: var(--color-skyblue);
}

.grey {
    color: var(--color-grey);
}

.lightgrey {
    color: var(--color-lightgrey);
}

/* bg */

.voilet {
    background: var(--color-voilet);
}


/* font_size */

.fs_3xl {
    font-size: var(--fs-3xl);
}

.fs_2xl {
    font-size: var(--fs-2xl);
}

.fs_xl {
    font-size: var(--fs-xl);
}

.fs_lg {
    font-size: var(--fs-lg);
}

.fs_md {
    font-size: var(--fs-md);
}

.fs_sm {
    font-size: var(--fs-sm);
}

.fs_ss {
    font-size: var(--fs-ss);
}


/* font-weight */
.fw_700 {
    font-weight: 700;
}

.fw_400 {
    font-weight: 400;
}

@media (max-width:992px) {
    :root {
        /* font_size */
        --fs-3xl: 52px;
        --fs-2xl: 36px;
        --fs-xl: 22px;
        --fs-lg: 19px;
        --fs-md: 16px;
        --fs-sm: 14px;
        --fs-ss: 12px;
    }
}

@media (max-width:576px) {
    :root {
        /* font_size */
        --fs-3xl: 40px;
        --fs-2xl: 30px;
        --fs-xl: 19x;
        --fs-lg: 17px;
        --fs-md: 15px;
        --fs-sm: 13px;
        --fs-ss: 12px;
    }
}